body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 20px;
  text-align: center;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
   
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 5px;
    position: fixed; /* Fixed position */
    top: 0; /* Sticks to the top */
    left: 0;
    width: 100%; /* Full-width */
    z-index: 1000; /* Keeps it above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    margin-right: 15px;
  }
  
  .navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .menu {
    display: flex;
    gap: 15px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 200px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  
    .menu.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }

