<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crop recommendation</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='recommendation_form.css') }}">
</head>
<body>

         <!-- Navbar -->
         <nav class="navbar">
            <div class="brand">
              <a href="#">Crop Management</a>
            </div>
            <div class="menu-toggle" id="menuToggle">☰</div>
            <div class="menu" id="menu">
              <a href="{{ url_for('start') }}">Home</a>
              <a href="{{ url_for('form') }}">Predict</a>
              <a href="{{ url_for('recommend') }}">Recommend</a>
              <a href="{{ url_for('rain')  }}">Rain</a>
              <a href="#contact">Contact</a>
            </div>
          </nav>

    <div class="container">
        <form action="{{url_for('think')}}"  method="post">
            <label for="nitrogen">Nitrogen Content (N):</label>
            <input type="number" id="nitrogen" name="nitrogen" placeholder="Ratio of Nitrogen in soil" required>
            <br><br>
          
            <label for="phosphorous">Phosphorous Content (P):</label>
            <input type="number" id="phosphorous" name="phosphorous" placeholder="Ratio of Phosphorous in soil" required>
            <br><br>
          
            <label for="potassium">Potassium Content (K):</label>
            <input type="number" id="potassium" name="potassium" placeholder="Ratio of Potassium in soil" required>
            <br><br>
          
            <label for="temperature">Temperature (°C):</label>
            <input type="int" id="temperature" name="temperature" placeholder="Temperature in degree Celsius" required>
            <br><br>
          
            <label for="humidity">Humidity (%):</label>
            <input type="int" id="humidity" name="humidity" placeholder="Relative humidity in %" required>
            <br><br>
          
            <label for="ph">Soil pH:</label>
            <input type="int" id="ph" name="ph" placeholder="pH value of the soil" required>
            <br><br>
          
            <label for="rainfall">Rainfall (mm):</label>
            <input type="int" id="rainfall" name="rainfall" placeholder="Rainfall in mm" required>
            <br><br>
          
            <button name="submitButton" type="submit">Recommendation</button>
          </form>
          
    </div>
</body>
</html>